*{
    font-family:'Major Mono Display';
}
html {
    background: linear-gradient(46.19deg, #000000 5.66%, #434343 94.35%);
  }
  
  body {
    height: 100vh;
    background: url("https://assets.codepen.io/6060109/versus-bg.png") no-repeat center;
    background-size: cover;
    display: flex;
    align-items: space-between;
    width: 100%;
    font-family: Paladins;
  }
  
  .mayweather-container, .logan-container {
    position: relative;
  }
  
  .mayweather-container {
    height: 100%;
    width: 50%;
    background: bottom left / contain no-repeat url("https://assets.codepen.io/6060109/mayweather.png");
  }
  
  .logan-container {
    height: 100%;
    width: 50%;
    background: bottom right / contain no-repeat url("https://assets.codepen.io/6060109/loganpaul.png");
  }
  
  .text-container {
    background: url("https://assets.codepen.io/6060109/yellow-text-wrapper.png") no-repeat;
    height: 15%;
    position: absolute;
    width: 100%;
    display: flex;
    align-items: center;
    bottom: 10%;
    font-size: 20px;
  }
  
  .text-container-1 {
    margin-left: -30px;
    width: 700px;
    padding: 5px;
  }
  .text-container-2{
    width: 700px;
    margin-right:-70px;
    padding: 5px;
    
  }
  
  .text-container-1 h1{
    padding:70px;
  }
  .text-container-2 h1{
    padding:70px;
  }
  
  .clock {
    position: absolute;
    top: 2%;
    left: 50%;
    transform: translateX(-50%);
    font-size: 26px;
    color: white;
  }